.git
.gitignore

frontend/node_modules
frontend/build
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

backend/bin
backend/server
backend/*.exe
backend/*.out

.DS_Store
Thumbs.db

.vscode
.idea
*.swp
