.DS_Store
Thumbs.db
*.log
*.swp
*.tmp

node_modules/
dist/
build/
.vite/
.next/
out/
.env

*.exe
*.out
*.test
/server
/vendor/

**/docker-compose.override.yml
**/.docker/
docker-data/

.vscode/
.idea/
*.code-workspace

